.item-detail-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-left: 8%;
    padding-right: 8%;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.item-detail-container img {
    width: 30%;
}

.item-detail-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item-detail-container ul li {
    display: inline-block;
    margin-left: 15px;
}

.item-detail-price {
    font-size: 1.5rem;
}

.item-detail-title {
    font-size: 2rem;
}

.item-detail-button-buy {
    width: 200px;
    height: 40px;
    border-radius: 100px;
    border: none;
    margin-top: 10px;
    background-color: rgb(255, 166, 34);
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.item-detail-button-buy a {
    text-decoration: none;
    color: #fff;
}

