.item {
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
}

.item img {
    width: 40%;
    margin-left: 30%;
}

