.header {
    min-width: 320px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    margin: 0;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header__nav, .header__filters {
    list-style: none;
}

.header__filters li {
    display: inline-block;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-family: 'DM Sans';
    color: #fff;
    background-color: #0ACF83;
    border-radius: 20px;
}

.header__filters li a {
    text-decoration: none;
    color: #fff;
}

.header__nav li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-family: 'DM Sans', sans-serif;
}

.header__nav li a {
    text-decoration: none;
    color: black;
}

a .header__nav--logo {
    width: 40%;
    vertical-align: middle;
}

